{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!--Sidebar Widgets Collumn -->
<div class="col-md-4 float-right">
    <div class="card my-4">
            <h5 class="card-header">Sobre nós</h5>
        <div class="card-body">
            <p class="card-text"> Este blog é feito no incrível Framework Django! Siga nossos tutoriais para aprender como fizemos..! </p>
            <a href="https://thetechsolver.com/criando-site-com-django"
                class="btn btn-danger"> Saiba mais..!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}
